<% content_for :head do %>
  <meta name="description" content="Issue Management System"
<% end %>

<div class="center jumbotron">
  <h1>Welcome to the IMS</h1>
    
  <%#= link_to :signup, signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to t(:signup), '#', class: "btn btn-lg btn-primary" %>
</div>