// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.issue-detail {
  background-color: #FFFFD0;
  span.issue-title {
    font-size: large;
    text-decoration: underline; 
  }
}